{
    "overrides": [
        {
            "files": ["*.js"],
            "options": {
                "printWidth": 120,
                "tabWidth": 4,
                "useTabs": false
            }
        },
        {
            "files": ["*.json"],
            "options": {
                "printWidth": 120,
                "tabWidth": 2,
                "useTabs": false
            }
        }
    ]
}
